/* TO-DO:
- mobile layout
- make it pretty
- add variables for skinning
- consider adding different formatting for book page blurb vs browse blurb
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color:whitesmoke;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: grey;
    font-size: 1.1em;
}

header a {
    font-weight: bold;
    color:white;
    display: inline-block;
    height: 1.5em;
    padding: 1em 2em 0.9em 2em;
    border-right: 4px solid #656565;
    text-decoration: none;
}

footer {
    background: grey;
    padding: 0.5em;
    text-align: right;
    margin-top: 1em;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

main {
    padding-left: 5em;
    padding-right: 5em;
    min-height: 28em;
}

#browse, #my-library {
    display:flex;
    flex-direction: column;
}

.page-info {
    margin-left:8%;
}

.page-info h1 {
    margin: 1.6rem;
    margin-left: 0px;
}

#filter-box {
    float: left;
    margin: 1.6rem;
    margin-right: 0;
    padding: 1em;
    background: gainsboro;
    text-align: center;
    width: 17%;
}

#view-more {
    margin-top:1em;
}

#filter-box input[type="text"]{
    margin-bottom:1em;
    width: 90%;
}

.blurb-space {
    flex:3;
}

.blurb {
    position: relative;
    display: flex;
    width: 75%;
    margin-left: 8%;
    margin-bottom: 1em;
    background-color: white;
}

.blurb .book-basics {
    flex: 2;
    background-color: #e1e6f7;
    padding:0.5em;
    padding-left: 2em;
}

.blurb .summary {
    flex: 4;
    border-right: 1px dotted gainsboro;
    border-left: 1px dotted gainsboro;
    padding:0.5em;
    padding-left: 2em;
}

.blurb .meta {
    flex: 1.5;
    padding:0.5em;
    padding-left: 1em;
}

.actions {
    position:absolute;
    right: -85px;
    width: 70px;
    height: 50px;
    padding:5px;
    background-color: transparent;
    display:block;
}

.blurb .meta span {
    color:green;
}

/* .bookmark {
    background-image: url('assets/bookmark-lines.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 51px;
    width:51px;
    display:block;
}

.bookmark-fill {
    background-image: url('assets/bookmark.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 51px;
    width:51px;
    display:block;
} */

.bookmark-fill {
    display: block;
    background-color: black;
    width:60px;
    height:50px;
    clip-path: polygon(84.00% 0.00%,24.00% 0.00%,24.00% 95.00%,54.00% 72.00%,84.00% 95.00%);
    border-radius: 35% 25% 40% 50%;
}

.bookmark {
    display: block;
    background-color: black;
    width:60px;
    height:50px;
    border-radius: 35% 25% 40% 50%;
    clip-path: polygon(84.00% 0.00%,23.00% 0.00%,25.00% 5.00%,79.00% 5.00%,79.00% 85.00%,54.00% 65.00%,28.00% 85.00%,28.00% 5.00%,23.00% 0.00%,24.00% 95.00%,54.00% 72.00%,84.00% 95.00%);
}

.bookmark-click {
    display: inline-block;
    height: 47px;
    width: 40px;
    left: 17px;
    margin: 0px;
    background: transparent;
    position: absolute;
    cursor:pointer;
    z-index: 1;
        /* if z-index not set, will fall behind bookmark block and become unclickable when class changes to bookmark-fill */
}

.hidden {
    display: none;
}

a {
    color: #5d7fdc;
}

/*------- WORK PAGE FORMATTING ---------*/

#book-head .blurb {
    display:block;
    margin: auto;
    margin-top: 1em;
}

#book-head .summary {
    padding: 1em;
    border: none;
    border-bottom: 1px dotted gainsboro;
}

#book-head .meta p {
    display: inline;
    margin-right: 1em;
}

#book-head .actions {
    right: 0px;
    top: 5px;
}

#main-text h2 {
    text-align: center;
    border: 3px solid lightgrey;
    padding: 0.5em;
    margin-bottom: 2em;
}

#main-text {
    padding-top: 1em;
}

.chapter {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
}

.mark {
    height: 30px;
    width: 30px;
    background-color: lightgrey;
    float: right;
}

.mark.active {
    height: 30px;
    width: 30px;
    background-color: yellowgreen;
    float: right;
}

/*indent paras following paras */
#main-text p + p {
    text-indent: 1em;
}

tr {
    border-bottom: 2px solid lightgray;
    display: block;
    /* if not set to block, borders won't display */
}

td:first-child {
    border-right: 2px solid lightgray;
    width: 20em;
}

td {
    position: relative;
    padding: 0.3em;
    padding-right: 2em;
    padding-left: 2em;
}

#toc {
    text-align: center;
}

#toc tbody {
    margin: auto;
}

table {
    margin: auto;
}

.ending {
    text-align: center;
    margin: 2em;
    padding: 0.5em;
    background: gainsboro;
}

.comment-box {
    min-height: 50px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid grey;
    box-shadow: 2px 2px 3px darkgrey;
    padding: 5px;
    border-radius: 5px;

    /* to make it stay slightly to right of container element: */
    /* position: absolute;
    right: -220px;
    top: 0px; */

    /* to keep it fixed and scroll with viewer:*/
    position: fixed;
    top: 3em;
    right: 1em;
    z-index: 2;
}

.close-btn {
    float: right;
    border-radius: 50%;
    border: none;
    width: 1.5em;
    height: 1.5em;
    margin: 3px;
    padding:1px;
    color: white;
    background: darkgray;
}

.cmt-date {
    font-size: smaller;
    font-family:monospace;
}

.cmt-container {
    max-height: 5em;
    overflow-y: auto;
}

/* below have some compatibility issues, but only way to make scrollbar perma visibile in chrome
(as of 10/6/21 chrome autohides scrollbars and it's impossible to tell this element is scrollable without it) */
.cmt-container::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5em;
}

.cmt-container::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

/* icons by <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */